@media (min-width: 769px) {
    .phaseCard{
        margin-bottom: 40px;
    }
    .sectionTitle {
        justify-content: space-between;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .phaseCard{
        margin-bottom: 40px;
    }
    .sectionTitle {
        justify-content: center;
    }
}

.phase-card {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    text-align: center;
    border-radius: 10px;
}

.phasesRow {
    justify-content: space-between;
}

.ant-card-head {
    min-height: 28px;
}
