.header .menu-header-title {
  margin-bottom: 0;
}

.header .menu-header-title span:last-child {
  color: white;
}

.header .menu-header-title span:first-child {
  color: rgba(255, 56, 96, 1);
}

.header .menu-header-title {
  margin-bottom: 0;
}

.header .menu-header-title span:last-child {
  color: white;
}
