h2.MenuHeaderTitle {
  margin-bottom: 0;
  margin-right: 20px;
}

h2.MenuHeaderTitle span:last-child {
  color: white;
}

h2.MenuHeaderTitle span:first-child,
h4.MenuHeaderTitle span:first-child {
  color: rgba(255, 56, 96, 1);
}

h4.MenuHeaderTitle {
  margin-bottom: 0;
}

h4.MenuHeaderTitle span:last-child {
  color: white;
}
