@import '~antd/dist/antd.css';

h2.MenuHeaderTitle {
  margin-bottom: 0;
  margin-right: 20px;
}

h2.MenuHeaderTitle span:last-child {
  color: white;
}

h2.MenuHeaderTitle span:first-child {
  color: rgba(255, 56, 96, 1);
}

h4.MenuHeaderTitle {
  margin-bottom: 0;
}

h4.MenuHeaderTitle span:last-child {
  color: white;
}

.ant-table-cell {
  font-size: 1rem;
}

.sectionTitle {
    margin-top: 30px;
}

.site-layout-background {
  background: #fff;
}


h2.title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #001529;
}

.ant-layout-content {
  padding: 0 50px;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25), inset 0 -1px 5px rgba(0,0,0,.25);
}

.footer {
  background-color: #001529;
  box-shadow: 0 -0.25rem 0.25rem rgb(0 0 0 / 25%), inset 0 -1px 5px rgb(0 0 0 / 25%);
  margin-top: 60px;
  padding: 10px 50px;
}

.footer blockquote {
  color: white;
}
.ant-modal-header {
  background-color: #001529;
}
.ant-modal-title {
  color: white;
  font-size: 1.2rem;
}
.ant-modal-body p {
  text-align: justify;
}
.footer h1 {
  color: white;
}

.footer blockquote p.developedBy span {
  margin-left: 15px;
  margin-right: 10px;
}

main.ant-layout-content {
  min-height: calc(100vh - 299px);
}