@import '~antd/dist/antd.css';

h2.MenuHeaderTitle {
  margin-bottom: 0;
  margin-right: 20px;
}

h2.MenuHeaderTitle span:last-child {
  color: white;
}

h2.MenuHeaderTitle span:first-child {
  color: rgba(255, 56, 96, 1);
}

h4.MenuHeaderTitle {
  margin-bottom: 0;
}

h4.MenuHeaderTitle span:last-child {
  color: white;
}

.ant-table-cell {
  font-size: 1rem;
}

.sectionTitle {
    margin-top: 30px;
}

.site-layout-background {
  background: #fff;
}


h2.title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #001529;
}

h2.title span.anticon {
  margin-right: 10px;
}

.ant-layout-content {
  padding: 0 50px;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25);
}

.footer {
  box-shadow: 0 -0.25rem 0.25rem rgb(0 0 0 / 3%);
  margin-top: 60px;
  padding: 10px 50px;
}

.footer {
  color: #001529;
}
.ant-modal-header {
  background-color: #001529;
}
.ant-modal-title {
  color: white;
  font-size: 1.2rem;
}
.ant-modal-body p {
  text-align: justify;
}
.footer h1 {
  color: white;
}

.ant-card-body h1 {
  font-size: 3rem;
}

.footer p.developedBy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p.developedBy {
  margin-bottom: 0;
  margin-top: 10px;
}

.footer span.anticon {
    margin-right: 15px;
    font-size: 1.1rem;
    color: #001529;
}

footer p.developedBy > span {
  margin-right: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.ant-layout-content {
  min-height: calc(100vh - 299px);
}